{% layout "base" %}
{% block content %}
<p>
    Please click this link below to confirm your email address. This link will expire after 24 hours.
</p>

<p style="text-align: center; padding: 20px 0;">
    <a href="{{ url }}">
        <b>Verify email</b>
    </a>
</p>

{% endblock %}
