@use "variables" as *;

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: .625rem 1.25rem;
  border-radius: .5rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  overflow: hidden;
  flex-shrink: 0;
  white-space: nowrap;
  text-decoration: none;
  border: 1px solid transparent;
  transition: background-color .1s ease-out,
    color .1s ease-out,
    box-shadow .1s ease-out,
    border-color .1s ease-out,
    outline .1s ease-out;
  
  &:hover {
    cursor: pointer;
  }
  
  &--disabled,
  &.disabled,
  &[disabled],
  &:disabled {
    opacity: .65;
    cursor: not-allowed;
  }
  
  @each $name, $_ in $color-variants {
    &-#{$name} {
      background-color: var(--color-#{$name}-500);
      color: var(--color-#{$name}-text);

      &:not(:disabled, .disabled, &--disabled, [disabled]) {
        &:hover {
          background-color: var(--color-#{$name}-600);
        }

        &:active {
          background-color: var(--color-#{$name}-500);
        }

        &:focus {
          box-shadow: 0 0 0 .2rem var(--color-#{$name}-400);
        }
      }
    }
    
    &-#{$name} > .processing-button__loader {
      background-color: var(--color-#{$name}-500);
    }

    &-outline-#{$name} {
      background-color: var(--color-#{$name}-text);
      border-color: var(--color-#{$name}-500);
      color: var(--color-#{$name}-500);
      border-width: 2px;

      &:not(:disabled, .disabled, &--disabled, [disabled]) {

        &:hover {
          background-color: var(--color-#{$name}-500);
          color: var(--color-#{$name}-text);
        }
        
        &:active {
          background-color: var(--color-#{$name}-500);
          color: var(--color-#{$name}-text);
        }
        
        &:focus {
          box-shadow: 0 0 0 .2rem var(--color-#{$name}-400);
        }
      }
    }
  }
}

