@import "variables.scss";

input {
    border: 1px solid lightgray;
    padding: .375rem .625rem;
    border-radius: .375rem;
    font-size: .875rem;
    line-height: 1.5;
    outline: none;
    box-shadow: 0 0 0 0 blue;
    transition: box-shadow .1s ease-out;

    &:focus-visible {
      box-shadow: 0 0 0 2px $primary-color;
    }
}

.h1-input {
  padding: 0;
  font-size: 2rem;
  margin: 0.67em 0;
  font-weight: 700;
  border: none;
  
  &:focus-visible {
    box-shadow: none;
  }
}