@import "variables.scss"; 

* {
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem);
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: $black;
}

html, body #__nuxt{
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
}