@use "variables" as *;
@use "mixins" as *;

@tailwind base;
@tailwind components;

p {
  @apply mb-6 leading-6;
}

ul {
  @apply list-disc mx-8 py-4;
}

a {
  @apply text-brand;
}

:root {
  --black: $black;
  --white: $white;
  --text-color: $text-color;

  @each $name, $color in $color-variants {
    @include generate-color-variants($name, $color);
  }
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: var(--text-color);
  background-color: #F9FBFC;
}

html, body #__nuxt{
  margin: 0;
  height: 100%;
  //overflow: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;

  &--md {
    max-width: 450px;
  }

  &--sm {
    max-width: 350px;
  }
}

button {
  &:hover {
    cursor: pointer;
  }
}

hr {
  border: none;
  border-top: 1px solid lightgray;
  margin: 2rem 0;
}
